.nav-link {
    color: white;
}
.nav-link:hover {
    opacity: 50%;
    color: white;
}

.nav-link:active {
    opacity: 50%;
}

.navbar-brand {
    font-family: 'Labrada', serif;
    color: white;
}
.navbar-brand:hover {
    transform: scale(1.05);
    color: white;
}

.card-img-top {
    height: 18rem;
}