body {font-family: Arial, Helvetica, sans-serif;}
h2 {text-align: center;}

.container {
    display: flex;
}

form {
    margin: 0 auto;
}

#products {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

#products td,
#products th {
    border: 1px solid #ddd;
    padding: 8px;
}

#products tr:nth-child(even) {
    background-color: #f2f2f2;
}

#products tr:hover {
    background-color: #ddd;
}

#products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.buttonContainer {
    display: flex;
}

.buy {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 25%;
}

form > p {
    text-align: center;
}

.log-out {
    float: right;
    width: 50px;
    margin-right: 10px;
}

.back {
    float: left;
    width: 50px;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.navButtons {
    display: inline-block;
    width: 100%;
}

.pagination {
    width: fit-content;
    margin: 0 auto;
    margin-top: 15px;
}

.page_no {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.page_no:hover {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pages {
    text-align: center;
    font-weight: lighter;
    font-size: small;
    margin-top: 5px;
}