table, th, tr {
    border: 2px solid black;
    border-collapse: collapse;
}

table {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.conjunto {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.bloque {
    width: fit-content;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 0 25px;
}

.form {
    padding: 20px 0 0 25px;
    text-align: left;
}

th.azul {
    color: blue;
}

th.rojo {
    color: red;
}

.formPlay {
    width: 300px;
    margin: 20px auto;
}

.buttons {
    margin-top: 10px;
}

.candidates {
    display: inline-block;
    margin-left: 10px;
}

.errorMsg {
    color: red;
    font-size: small;
}