* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.container_navbar {
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0px;
    padding: 10px 10px 0;
}

.navbar {
    background-color: white;
    border: 1px solid black;
    border-radius: 60px;
    padding: 15px 40px;
    margin-bottom: 25px;
}

.navbar a {
    text-decoration: none;
}

.navbar img {
    width: 150px;
    height: 60px;
}

.dropdown img {
    width: 60px;
}

.dropbtn {
    border: none;
    cursor: pointer;
}
  
.dropdown {
    background-color: transparent;
    position: relative;
    display: flex;
}
  
.dropdown-content {
    background-color: white;
    width: max-content;
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 1;
    height: 100%;
}
  
.dropdown-content a {
    text-align: center;
    color: black;
    border-radius: 20px;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    margin: 0 5px;
    height: fit-content;
}
  
.dropdown-content a:hover {
    background-color: #ff1c1c;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.dropdown:hover .dropbtn {
    transform: rotate(45grad);
}

.container-grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.container-cell {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
    display: grid;
    grid-template-rows: auto auto;
}

#types, #type {
    border-radius: 25px;
    width: fit-content;
    padding: 10px 20px;
    margin: 5px auto;
    color: white;
    font-weight: bold;
}

.type_link {
    text-decoration: none;
}

.Grass {
    background-color: #88be65;
}
.Poison {
    background-color: #8c478d;
}
.Fire {
    background-color: #ee6b25;
}
.Flying {
    background-color: #9e90c8;
}
.Water {
    background-color: #6783be;
}
.Bug {
    background-color: #a5b61b;
}
.Normal {
    background-color: #9ba77a;
}
.Electric {
    background-color: #f5c83a;
}
.Ground {
    background-color: #dab25d;
}
.Fairy {
    background-color: #dc90db;
}
.Fight {
    background-color: #a91e17;
}
.Psychic {
    background-color: #f93d70;
}
.Rock {
    background-color: #ae8c28;
}
.Steel {
    background-color: #aba8c3;
}
.Ice {
    background-color: #8bcbd4;
}
.Ghost {
    background-color: #60418f;
}
.Dragon {
    background-color: #602afa;
}
#types:hover, #type:hover {
    filter: brightness(75%);
}
.pokemon_grid_container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.id_pokemon, .name_pokemon, .pic_pokemon, .types_pokemon {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.id_pokemon {
    grid-column: 1;
}
.name_pokemon {
    grid-column: 2;
}
.pic_pokemon, .types_pokemon, .stats_pokemon {
    grid-column: 1 / span 2;
}
.pic_pokemon img {
    width: 15%;
}
.stats_pokemon {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.stats_pokemon > div {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}
#type {
    display: inline-block;
    margin: 10px;
}
.item_name {
    height: fit-content;
    background-color: #555555;
    color: white;
    border-radius: 10px 10px 0 0;
}
.item_name h3 {
    display: inline-block;
    margin: 2px auto;
}
.hp, .att, .def, .s_def, .s_att, .spd, .info {
    padding: 10px 0;
}

.delete_button, .add_from_api_button {
    border: none;
    background-color: transparent;
    font-size: x-large;
    font-weight: 900;
}

.addPokemonButton {
    margin: 0 auto;
    border: 2px solid #555555;
    width: 10%;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.addPokemonButton:hover {
    background-color: #555555;
}

.addPokemonButton:hover a {
    color: white;
}

.addPokemonButton a {
    text-decoration: none;
    color: #555555;
    font-weight: bolder;
}